.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  
}

.App-header {
  padding: 20px 0;
  text-align: center;
}

.App-header h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.App-header p {
  font-size: 16px;
}

.Content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

.NasaImages, .MarsImages {
  flex: 1;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  margin: 10px;
}

.NasaImages h2, .MarsImages h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.App-menu {
  position: fixed;
  top: 0px;
  left: 50%;
  background-color: #0a0a0a;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0px 0px 10px 10px;
  border-top: none; /* Tar bort översta kanten */
  height: 50px;
  width: 90%;
  z-index: 1000;
  transform: translateX(-50%);
  justify-content: space-around;
}

.App-menu ul li {
  display: inline;
  margin: 10px 10px;
  

}

.App-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px; /* Ändra textstorlek */
}

.App-menu ul li a:hover {
  color: #0074d9;

}

/* Mobilanpassningar */
@media screen and (max-width: 768px) {

  
  .Content {
    flex-direction: column;
    align-items: center;
    margin-top: -50px; /* Ändra riktning till kolumn för mobil */
  }

  .NasaImages, .MarsImages {
    width: 100%; /* Ta upp hela bredden på mindre skärmar */
    margin: 10px 0; /* Lite extra marginal mellan dem */
  }

  .App-menu {
   
    flex-direction: column;
    background-color: #0a0a0a;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0px 0px 10px 10px;
    border-top: none; /* Tar bort översta kanten */
    height: 70px;
    width: 90%;
    z-index: 1000;
    transform: translateX(-50%);
    justify-content: space-around;

  }

  .App-menu ul li {
    display: block;
    margin: 5px 0;
  }
  
  .App-header {
    padding: 50px 0;
    text-align: center;
  }
  
  .App-header h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .App-header p {
    font-size: 16px;
  }
}
