.AstronomyPictureOfTheDay {
    background-color: #0a0a0a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .AstronomyPictureOfTheDay h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .AstronomyPictureOfTheDay h3 {
    font-size: 12px;
  }
  
  .AstronomyPictureOfTheDay p {
   
    font-size: 16px;
    width: 80%;
    margin: 0 auto; 
    text-align: center;
  }
  
  .AstronomyPictureOfTheDay img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  }
  
  .AstronomyPictureOfTheDay iframe {
    max-width: 100%;
    height: 315px;
    
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  }
  
  .AstronomyPictureOfTheDay p.error-message {
    color: red;
    font-weight: bold;
  }
  @media screen and (max-width: 768px) {
    .AstronomyPictureOfTheDay p {
   
        font-size: 16px;
        width: 100%;
        margin: 0 auto; 
        text-align: center;
      }
      .AstronomyPictureOfTheDay iframe {
        max-width: 100%;
        height: auto;
        border: none;
        border-radius: 10px;
        border: 1px solid #ccc;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      }
  }
