.MarsImages {
    background-color: #0a0a0a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .rover-dropdown {
    margin-bottom: 20px;
  }
  
  .rover-dropdown label {
    font-size: 18px;
  }
  
  .rover-dropdown select {
    font-size: 16px;
    padding: 8px;
    border: none;
    background-color: #333;
    color: #fff;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap; /* Använd flex-wrap för att hantera flera rader */
    justify-content: center; /* Centrera bilderna horisontellt */
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
    border: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  /* Mobila anpassningar */
  @media screen and (max-width: 768px) {
    .MarsImages {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centrera innehållet horisontellt */
      background-color: #0a0a0a;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      font-family: Arial, sans-serif;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      margin-bottom: 20px;
    }
  
    .rover-dropdown label {
      font-size: 16px;
    }
  
    .rover-dropdown select {
      font-size: 14px;
    }
  
    .pagination button {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .gallery img {
      max-width: 80%;
      height: auto;
      border-radius: 10px;
      border: 1px solid #fff;
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
      margin-bottom: 10px;
    }
  }